//@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Alfa+Slab+One|Playfair+Display:400,400i');
 // font-family: 'Abril Fatface', cursive;

 // font-family: 'Alfa Slab One', cursive;

// font-family: 'Playfair Display', serif;


 @import url('../fonts/ninjaicons.ttf');



@font-face {

  font-family: "ninjaicons";
  src: url("../fonts/ninjaicons.ttf"); 

}