// breakpoints
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 1025px !default;
$screen-lg: 1400px !default;

$accent-color: hsl(0, 0, 50);

$charcoal: 	#444;
$mattblue: 	#70818e;
$terq:		#1d3943;
$orange:	#fe8300;
$blue:		#5eb7bd;