.banner {
	padding: 0;
	@media (min-width: $screen-sm) {
		padding: 90px 0 34px;
	}
	@media (min-width: $screen-md) {
		padding: 90px 0;
	}

	.site_logo {
		align-items: center;
		background: #fff;
		display: flex;
		justify-content: space-between;
		padding: 0 0;
		padding: 20px 15px 10px;
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 9;

		@media (min-width: $screen-sm) {
			background:none;
			padding: 55px 0 0;
			position: absolute;
			width: auto;
		}

		.logo {
			@media (min-width: $screen-sm) {
				left: -45px;
				position: relative;
			}

			img {
				width: 110px;
			}	
		}

		.menu-button {
			z-index: 999;

			@media (min-width: $screen-sm) {
				display: none;
			}
			img {
				width: 35px;
			}
		}

		&.stickynav {
			@media (min-width: $screen-sm) {
				position: fixed;
				top: 0;
				padding: 28px 0 0;
			}
		}
	}
	.banner_main {
        position: relative;
        margin: 80px 0 0;
	    height: calc(100vh - 80px);
	    width: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-direction: column;
	    padding: 0 40px;
	    background: url('../images/header.jpg') no-repeat scroll center/cover;

	    @media (min-width: $screen-sm) {
	    	background: url('../images/header.jpg') no-repeat scroll 0 0/cover;
	    	padding: 0;
	    	margin: 0;
	    }

	    .site_intro_small {
    	    font-family: "Playfair Display",serif;
    	    color: $mattblue;
		    font-size: 28px;
		    font-style: italic;
		    font-weight: normal;
		    line-height: 28px;
		    text-align: center;
	        margin: -5px 0 26px;

	        @media (min-width: $screen-sm) {
	        	height: 28px;
	        }
	    }

	    .site_intro_big {
			font-family: "Alfa Slab One",sans-serif;
   			color: #fff;
    		font-size: 41px;
    		line-height: 46px;
    		z-index: 1;
    		text-align: center;

    		@media (min-width: $screen-sm) {
    			font-size: 64px;
    			line-height: 58px;
    		}

    		br {
				display: none;
    			@media (min-width: $screen-sm) {
    				display: block;
    			}

    		}

    		span {
    			font-family: "Playfair Display",serif;
    			font-size: 65px;
    			color: $orange;
			    font-style: italic;
			    position: relative;
			    z-index: -1;

			    @media (min-width: $screen-sm) {
			    	font-size: 90px;
			    	left: 25px;
			    	top: 6px;
			    }
    		}
	    }
	}
}