.footer {
    float: left;
    position: relative;
    width: 100%;
    padding: 20px 0;

    @media (min-width: $screen-sm) {
        padding: 90px 0;
    }

    .row {
    	text-align: center;
        height: 30px;
        line-height: 30px;

    	&:before {
            border-top: 1px solid $orange;
            content: "";
            display: none;
            float: left;
            left: 51px;
            position: absolute;
            top: 15px;
            width: calc(41% - 55px);

            @media (min-width: $screen-sm) {
                display: block;
            }
    	}
    }
}