.fixed_sides {
    float: left;
    height: 1px;
    position: fixed;
    width: 100%;
    z-index: 11;
    display: none;

    @media (min-width: $screen-sm) {
		display: block;
    }

    .side_left {
	    align-items: center;
	    display: flex;
	    font-family: 'Roboto', sans-serif;
	    font-size: 12px;
	    height: 100%;
	    font-weight: 400;
	    justify-content: flex-start;
	    left: 0%;
	    padding: 90px 0 0;
	    position: absolute;
	    text-align: center;
	    top: 0;
	    transform: rotate(180deg);
	    writing-mode: vertical-lr;
	    z-index: 999;
	    width: 39px;

	    a {
	    	text-decoration: none;
	    	width: 18px;
	    }

	    .spacer {
		    border-left: 1px solid $orange;
		    height: 40%;
		    width: 1px;
		    margin: 0 0 29px;
	    }
	}

	.side_right {
	    display: flex;
	    float: right;
	    font-family: 'Roboto', sans-serif;
	    font-size: 12px;
	    height: 100%;
	    padding: 90px 0 0 0;
	    font-weight: 400;
	    position: absolute;
	    right: 0;
	    text-align: center;
	    top: 0;
	    writing-mode: vertical-lr;
	    z-index: 999 !important;
    	justify-content: flex-start;
        align-items: center;
        width: 39px;

	    .spacer {
		    float: left;
		    height: 23%;
		    right: 15px;
		    top: 90px;
		    width: 1px;
    	    border-left: 1px solid $orange;
    	    margin: 0 0 24px 0;
	    }
		
		a {
			width: 18px;
		}
	    .sidefb {
	    	height: auto;
	    	margin: 9px 0;
	    	width: 10px;

	    	&:hover {
	    		opacity: 0.8;
	    	}
	    }
	    .sidetwit {
	    	height: 15px;
	    	margin: 9px 0;
	    	width: auto;

	    	&:hover {
	    		opacity: 0.8;
	    	}
	    }
	    span {
	    	padding: 10px 0 0 0px;
	    	width: 18px;
	    }
	}
}

.fixed_top {
    background: #fff;
    display: none;
    height: 90px;
    padding: 48px 0 26px;
    position: fixed;
    width: 100%;
    z-index: 8;

    @media (min-width: $screen-sm) {
		display: block;
    }
	.header_contact {
		display: flex;
		justify-content: flex-end;

		&:before {
			border-top: 1px solid orange;
		    content: "";
		    float: left;
		    height: 1px;
		    position: relative;
		    right: 20px;
		    top: 8px;
		    width: 141px;
		}

		div {
			display: flex;
			padding: 0 10px;

			img {
				height: 16px;
				width: auto;
			}
			a {
				font-family: "Roboto",sans-serif;
			    font-size: 12px;
			    padding: 0 0 0 12px;
			    text-decoration: none;
			}
		}
	}
}