#btn {
  background: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 13px;
  outline: none;
  position: relative;
  transform: translate(-50%, -50%);
  width: 28px;

  @media (min-width: $screen-sm) {
    display: none;
  }

  span {
    position: absolute;
    width: 50px;
    height: 6px;
    top: 50%;
    left: 50%;
    background: url(../images/sword.svg) no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    transition: all 0.3s linear;

    &:nth-child(1) {
      animation: span-first-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
    &:nth-child(2) {
      animation: span-second-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
    &:nth-child(3) {
      animation: span-third-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
  &.on {
    &:hover span::before {
      width: 100%;
      transition: all 0.3s linear;
    }
    span {
      &:nth-child(1) {
        animation: span-first-on 0.5s ease-in-out;
        animation-fill-mode: forwards;
      }
      &:nth-child(2) {
        animation: span-second-on 0.5s ease-in-out;
        animation-fill-mode: forwards;
      }
      &:nth-child(3) {
        animation: span-third-on 0.5s ease-in-out;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes span-first-on {
  0% {
    transform: translate(-50%, -300%);
  }

  30% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}


@keyframes span-first-off {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -300%);
  }
}


@keyframes span-second-on {
  0% {
    transform: translate(-50%, -50%);
  }

  25% {
    background: gray;
  }

  50% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-150%, -50%) scale(0);
  }
}


@keyframes span-second-off {
  0% {
    transform: translate(-150%, -50%) scale(0);
  }

  25% {
    background: gray;
  }

  50% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}


@keyframes span-third-on {
  0% {
    transform: translate(-50%, 200%);
  }

  30% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}


@keyframes span-third-off {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, 200%);
  }
}