.nav_menu {
	.main_menu {
		position: fixed;
	    background: #1d3943;
	    height: 100%;
	    overflow: auto;
	    top: 80px;
	    width: 300px;
	    z-index: 9999;
	    left: -300px;
	    transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);

	    ul {
	    	margin: 10px 0 0;

	    	li {
	    		a {    
				    border-bottom: 1px solid #70818e;
				    color: #70818e;
				    font-family: 'Raleway', sans-serif;
				    padding: 15px 30px;
				    text-decoration: none;
	    			display: block;

	    			&:hover {
	    				background: #0a3645;
	    				color: #fe8300;
	    			}
				}
	    	}
	    }
	}
	 .site-overlay {	
	    -webkit-animation: fade 500ms;
	    animation: fade 500ms;
	    background-color: rgba(29, 57, 67, 0.5);
	    bottom: 0;
	    display: none;
	    left: 0;
	    position: fixed;
	    right: 0;
	    top: 80px;
	    z-index: 9998;

    }

    &.show {
    	.main_menu {
    		left: 0;
    		transform: translate3d(0, 0, 0)
    	}

    	.site-overlay {
    		display: block;
    	}
	}
}