.about {
	padding: 30px 0 30px;
	@media (min-width: $screen-sm) {
		padding: 0 0 37px;
	}
	@media (min-width: $screen-md) {
		padding: 0 0 90px;
	}
	.row {
		display: flex;
		flex-direction: column;
		@media (min-width: $screen-md) {
			flex-direction: row;
		}

		.about-left {
			width: 100%;
			text-align: center;
			padding: 0 20px 30px;

			@media (min-width: $screen-md) {
				max-width: 50%;
				padding: 0 90px;
			}

			

			h2 {
				color: $terq;
				padding: 0 0 30px;

				@media (min-width: $screen-sm) {
					padding: 0 0 32px;
				}
				@media (min-width: $screen-md) {
					padding: 0 0 45px;
				}

				span {
					color: $orange;
					font-family: 'Playfair Display',serif;
					font-size: 30px;
    				line-height: 30px;
    				font-style: italic;

    				@media (min-width: $screen-sm) {
						font-size: 48px;
						line-height: 57px;
					}
				}
			}

			p {
				padding: 10px 0 17px;
				line-height: 26px;

				@media (min-width: $screen-sm) {
				}
			}
			a {
				font-weight: 700;
				text-decoration: none;
			}
		}
		.about-right {
			width: 100%;

			@media (min-width: $screen-md) {
				max-width: 50%;
			}

			.title-wrapper {
			    width: 100%;
			    background: $orange;
			    padding: 26px 20px 43px 19px;
			    color: #fff;
			    margin: 0 0 15px;

			    @media (min-width: $screen-sm) {
			    	padding: 76px 80px 103px 99px;
			    	margin: 0 0 34px;
			    }
			    @media (min-width: $screen-md) {
			    	padding: 76px 80px 103px 99px;
			    	margin: 0 0 54px;
			    }

			    h3, h2 {
			    	color: #fff;
			    	text-align: left;
			    }
			}
			
			ul {
				padding: 0 20px;
				@media (min-width: $screen-sm) {
					padding: 0;

				}
				li {
					align-items: center;
					display: flex;
					flex-direction: column;
					float: left;
					padding: 20px 15px;
					width: 100%;
					text-align: center;

					@media (min-width: 600px) {
						flex-direction: row;
						text-align: left;
						max-width: 50%;
						padding: 20px 0;
					}

					.service-icon {
					    height: 45px;
					    margin: 0 0 15px 0;
					    width: 45px;

					    @media (min-width: 600px) {
					    	margin: 0 15px 0 0;
					    }

				    	svg {
    			    		.cls-1 {
	    			    		fill: $blue;
	    			    	}

	    			    	.cls-2 {
	    			    		fill: $blue;
	    			    	}
    			    	}
					    
					}

					.service-text {
					    font-size: 20px;
    					line-height: 28px;
    					font-weight: 400;

    					@media (min-width: $screen-sm) {
    					}
					}
				}
			}

		}
	}
}