.clients {
	background: #f1f1f1;
	padding: 30px 10px 0;
	@media (min-width: $screen-sm) {
		padding: 40px 0 22px;
	}
	@media (min-width: $screen-md) {
		padding: 90px 0;
	}
	.clients-main {
		display: flex; 
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding: 35px 0 0;

		@media (min-width: $screen-sm) {
			padding: 104px 0 0;
		}

		span {
		    align-items: center;
		    display: flex;
		    justify-content: center;
		    width: 50%;

		    @media (min-width: $screen-sm) {
			    width: 25%;
			}
			@media (min-width: $screen-md) {
			    width: 16%;
			}

			svg {
				max-width: 100%;
	    		.cls-1 {
		    		fill: #898989;
		    	}

		    	.cls-2 {
		    		fill: #cacaca;
		    	}
		    	.cls-3 {
		    		fill: #cacaca;
		    	}
	    	}

	    	&:hover {
	    		background: $orange;
	    		svg {
		    		.cls-1 {
			    		fill: #fff;
			    	}

			    	.cls-2 {
			    		fill: #fff;
			    	}
		    	}
	    	}
		}
	}
}