.contact {
	padding: 30px 10px;
	@media (min-width: $screen-sm) {
		padding: 40px 0 0;
	}
	@media (min-width: $screen-md) {
		padding: 127px 0 0;
	}

	h2 {
		padding-bottom: 14px;
	}

	p {
		text-align: center;
		line-height: 26px;
	}

	.contact-main {
		display: flex;
		flex-direction: column;
		padding: 44px 0 0;
		position: relative;

		@media (min-width: $screen-md) {
			flex-direction: row;
			padding: 130px 0 0;
		}

		.contact-left {
		    align-items: center;
		    justify-content: flex-end;
		    display: flex;
		    padding: 0 15px;
		    width: 100%;

		    @media (min-width: $screen-md) {
				max-width: 65%;
		    }


			img {
		    	display: none;

		    	@media (min-width: $screen-sm) {
		    		max-width: 75%;
		    		display: block;
		    	}
			}

			.ct-addy {
			    background: $orange;
			    color: #fff;
			    font-size: 16px;
			    padding: 36px 83px 36px 33px;
			    position: relative;
			    width: 100%;

			    @media (min-width: $screen-sm) {
			    	width: auto;
			    	left: 15px;
			    	position: absolute;
			    }

			    a {
			    	color: #fff;
			    	text-decoration: none;
			    }
			    h4 {
			    	line-height: 26px;
			    }
			    p {
		    	    font-size: 14px;
				    text-align: left !important;
				    font-family: 'Raleway', sans-serif;
				    margin: 12px 0 0;
				    font-weight: 400;
			    }
			}
		}

		.contact-right {
			padding: 25px 15px 0;
			width: 100%;

			@media (min-width: $screen-md) {
				padding: 0 15px;
				max-width: 35%;
			}

			h4 {
				font-family: 'Raleway', sans-serif;
				font-weight: 900;
			}

			#form-messages {
				color: #1d3943;
				padding: 25px 0 0;
			}

			.contact_form {

				&.success {
					display: none;
				}
				.input-required {
    				position: relative;

    				&:after {
					    position: absolute;
					    float: right;
					    right: 0;
					    color: #70818e;
					    content: "(required)";
					    height: 60px;
					    line-height: 60px;
					    font-family: "Playfair Display",serif;
					    font-size: 14px;
					    font-style: italic;
					    z-index: 9;
					    top: 0;
    				}
				}

				input {
				    border-color: #e5e5e5;
				    border-style: none none solid;
				    border-width: 0 0 1px;
				    color: #222;
				    content: "";
				    font-family: 'Roboto', sans-serif;
				    font-size: 15px;
				    // font-weight: 500;
				    line-height: 60px;
				    margin: 0;
				    padding: 0;
				    position: relative;
				    width: 100%;

				    &:focus {
				    	border-bottom: 1px solid #fe8300;

				    	&+ {
				    		.control-label {
				    			border-bottom: 1px solid #fe8300;
				    		}
				    	}
				    }
				}

				input:required {
				    box-shadow:none;
				}
				input:invalid {
				    box-shadow:none;
				}

				textarea {
				    border: 0 none;
				    padding: 15px 0;
				    width: 100%;
				    border-bottom: 1px solid #e5e5e5;
				    margin: 0 0 15px;

				    &:focus {
				    	border-bottom: 1px solid #fe8300;
				    }
				}

				#submit {
				    background: $orange;
				    border: 2px solid $orange;
				    color: #fff;
				    float: left;
				    font-family: 'Raleway', sans-serif;
				    font-size: 13.72px;
				    font-weight: 700;
				    line-height: inherit;
				    margin: 0;
				    padding: 15px 25px;
				    text-align: center;
				    width: auto;
				    transition: all 0.1s linear 0s;

				    &:hover {
				    	background: none;
				    	color: $orange;
				    	cursor: pointer;
				    }
				}
			}
		}
	}
}