.our_work {
	padding: 30px 0;
	background: url(../images/work-gradient.png) repeat-x;

	@media (min-width: $screen-sm) {
		padding: 40px 0 10px;
	}
	@media (min-width: $screen-md) {
		padding: 124px 0 10px;
	}

	h2 {
		padding: 0 10px 40px;

		@media (min-width: $screen-sm) {
			padding: 0 0 44px;
		}
		@media (min-width: $screen-md) {
			padding: 0 0 130px;
		}
		span {
			color: $terq;
		}
	}
	.our-work-container {
		display: flex;
		padding: 0 20px 30px;
		flex-direction: column;

		@media (min-width: $screen-md) {
			padding: 0 0 160px;
			flex-direction: row;
		}

		&.accord {
			display: none;

			&.flexer {
				display: flex !important;
			}
		}

		.work-blurb {
		    display: flex;
		    flex-direction: column;
		    padding: 0 0 25px 0px;
		    width: 100%;
		    order: 2;
		    

		    @media (min-width: $screen-md) {
		    	padding: 25px 35px 25px 0px;
			    order: 1;
			    text-align: right;
		    	max-width: 30%;
		    }

		    h3 {
				color: $terq;
				font-family: 'Alfa Slab One', sans-serif;
				font-size: 40px;
				font-weight: normal;
				line-height: 40px;
				font-style: normal;

				@media (min-width: $screen-sm) {
					font-size: 51px;
					line-height: 51px;
				}

				span {
					color: $orange;
				}
			}

		    .project-location {
			    font-family: 'Roboto', sans-serif;
			    font-size: 12px;
			    font-weight: 300;
			    line-height: 26px;
			    padding: 24px 0 7px;
		    	width: 100%;
		    	color: rgba(68,68,68,0.7);
		    	display: flex;
		    	align-items: center;
		    	justify-content: flex-end;

		    	@media (min-width: $screen-sm) {
		    	}

		    	span {
		    		padding: 0 7px 0 0;
		    		display: flex;
		    		height: 17px;
		    		svg {
		    			path {
		    				color: rgba(68,68,68,.7);
		    			}
		    		}
		    	}
		    }
		    p {
		    	padding: 10px 0;
		    	line-height: 26px;

		    	@media (min-width: $screen-sm) {
		    	}
		    }

		    .services-rendered {
		    	padding: 22px 0 0;
			    display: flex;
		 
			    @media (min-width: $screen-md) {
			    	justify-content: flex-end;
			    }

		    	span {
	    		    font-family: 'Roboto', sans-serif;
				    font-size: 12px;
				    font-weight: 600;
				    line-height: 29px;
				    padding: 0 9px 0 0;

				    @media (min-width: $screen-sm) {
				    }
		    	}

		    	ul {
		    		float: right;
		    		li {
					    cursor: pointer;
					    float: left;
					    margin: 0 7px 0;
					    position: relative;
					    text-decoration: none;
	    			    width: 16px;

	    			    @media (min-width: $screen-sm) {
	    			    }

	    			    &:hover {
	    			    	svg {
	    			    		.cls-1 {
		    			    		fill: $orange;
		    			    	}

		    			    	.cls-2 {
		    			    		fill: $orange;
		    			    	}
	    			    	}
	    			    	
	    			    	.wwd {

								line-height: 24px;
							    border-radius: 5px;
							    border: 0 none;
							    bottom: -30px;
							    color: #fff;
							    display: block;
							    left: -110px;
							    max-width: 230px;
							    min-width: 230px;
							    padding: 0 5px;
							    position: absolute;
							    text-align: center;
							    width: auto;
							    z-index: 9;
    			    		    background: #021921 none repeat scroll 0 0;
    			    		    font-family:Roboto,sans-serif;
    			    		    font-size: 12px;

    			    		    @media (min-width: $screen-sm) {
    			    		    }


    			    		    &:after {
								    border-bottom: 5px solid #021921;
								    border-left: 5px solid transparent;
								    border-right: 5px solid transparent;
								    content: "";
								    float: left;
								    height: 4px;
								    left: 0;
								    left: 50%;
								    top: -5px;
								    width: 4px;
			    		    	    position: absolute;

			    		    	    @media (min-width: $screen-sm) {
			    		    	    }
    			    		    }
	    			    	}
	    			    }

	    			    svg {

	    			    	.cls-1 {
	    			    		fill: #aaaaaa;
	    			    	}

	    			    	.cls-2 {
	    			    		fill: #aaaaaa;
	    			    	}
	    			    	
	    			    }

	    			    .wwd {
	    			    	display: none;
	    			    }
		    		}
		    	}
		    }
		    .view-site {
	    		padding: 25px 0 0;
	    		clear: both;

	    		@media (min-width: $screen-sm) {
	    		}
	    		a {
					color: #1d3943;
					font-weight: 600;
				    font-size: 20px;
				    text-decoration: none;
				    font-family: 'Raleway', sans-serif;
				    margin: 0;
				    padding: 0 0 2px;

				    @media (min-width: $screen-sm) {
				    }

				    &:hover {
				    	border-bottom: 3px solid $orange;
				    }
	    		}
	    	}
		}

		.work-gallery {
		    position: relative;
		    order: 1;
		    padding: 0 0 30px;

		    @media (min-width: $screen-sm) {
		    	padding: 0 0 45px;
		    }
		    
		    @media (min-width: $screen-md) {
		    	float: right;
		    	max-width: 70%;
		    	order: 2;
		    	padding: 0 0 0 35px;
		    	width: 100%;
		    }

		    .item {
		    	display: flex;display: block;
		    	flex-direction: column;
		    	align-items: center;
		    	justify-content: center;

		    	@media (min-width: $screen-sm) {
		    	}
		    }
	
		    .owl-nav {
			    height: 45px;
			    position: absolute;
			    right: 0;
			    width: 91px;
	    	    bottom: 0px;

	    	    .owl-prev, .owl-next {
    	    	    background: #021921 none repeat scroll 0 0;
				    max-width: 45px;
				    height: 45px;
				    text-align: center;
				    width: 100%;
				    float: left;

				    @media (min-width: $screen-sm) {
				    }

				    img {
				    	width: 11px;
				    	padding: 12px 0;
				    }
	    	    }
	    	    .owl-prev {
	    	    	margin: 0 1px 0 0;	
	    	    }
		    }
		}

		&:nth-of-type(2n) {
			.work-blurb {
				padding: 0 0 30px 0;
				@media (min-width: $screen-md) {
					order: 2;
					text-align: left;
					padding: 25px 0 25px 35px;
				}

				.project-location {
					justify-content: flex-start;
				}

				.services-rendered {
				   justify-content: flex-start;
				}
			}

			.work-gallery { 
				padding: 0 0 30px 0 ;
				@media (min-width: $screen-md) {
					order: 1;
					padding: 0 35px 0 0 ;
				}

				.owl-nav {
					left: 0;
					right: auto;
				}
			}
		}
	}

	.loadmore {
		display: flex;
		justify-content: center;
		

		button {
		    background: #fe8300;
		    border: 0;
		    color: #fff;
		    float: left;
		    font-family: Raleway,sans-serif;
		    font-size: 18px;
		    font-weight: 400;
		    line-height: inherit;
		    margin: 0 0 44px;
		    padding: 15px 25px;
		    text-align: center;
		    width: auto;

		    @media (min-width: $screen-sm) {
		    	margin: 0 0 40px;
		    }
		    @media (min-width: $screen-md) {
		    	margin: 0 0 150px;
		    }

		    &:hover {
		    	cursor: pointer;
		    }
		}
	}
}